@font-face {
  font-family: 'kanye';
  src: url('kanye.ttf');
}

body,
div {
  margin: 0;
  border: 0 none;
  padding: 0;
  /*background-color: lightgray;*/
}

.navbar-bottom{
	list-style: none;
}

.no-dec{
	text-decoration: none;
	color: black;
	font-family: "Courier New";
	font-size: 25;
}

.no-dec:hover{
	color: darkgray;
}

.navbar{
	border-radius: 0;
	height: 100%;
}

.left-column{
	color: white;
	float: left;
	width: 20%;
	height: 100vh;
}

.right-column{
	/*background-color: lightgray;*/
	float: left;
	width: 80%;
	display: grid;
	grid-gap: 10px;
}

@media (min-width: 500px) {
  .right-column { grid-template-columns: 1fr; }
}


@media (min-width: 750px) {
  .right-column { grid-template-columns: repeat(2, 1fr); }
}

@media (min-width: 900px) {
  .right-column { grid-template-columns: repeat(3, 1fr); }
}

.resize {
    width: 100%;
    height: auto;
    position: relative;
    padding-top: 10px;
}

.resize:hover{
	cursor: pointer;
}

.caption-text{
	padding-top: 10px;
	font-family: "Courier New";
	font-size: 15;
	color: black;
	text-align: center;
}

