@font-face {
  font-family: 'kanye';
  src: url('kanye.ttf');
}

.navbar-bottom{
	list-style: none;
}

.no-dec{
	text-decoration: none;
	color: black;
	font-family: "Courier New";
	font-size: 25;
}

.no-dec:hover{
	color: darkgray;
}

.navbar{
	border-radius: 0;
	height: 100%;
}

.left-column{
	background-color: white;
	float: left;
	width: 20%;
	height: 100vh;
	min-width: 125px;
}

.right-column{
	background-color: lightgray;
	float: left;
	width: 80%;
	height: 100vh;
  display: flex;
  flex-direction: column; 
  justify-content: top;   
  align-items: center;    
  padding-top: 7.5%;
}

.resize {
    width: 50%;
    height: auto;
    position: relative;
}

.caption-text{
	padding-top: 10px;
	font-family: "Courier New";
	font-size: 15;
	color: black;
}

